<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

    <div class="container" style="background: #5fb5e0; width:350px;margin:150px auto;padding: 20px; -webkit-box-shadow: 1px 0 1px #FFFFFF, 0 0 3px rgba(0, 0, 0, 0.2) inset">
        <h2>Admin login</h2>
        <form method="post" action="adminlogin">
            <div class="form-group">
                <label for="email">Usename:</label>
                <input type="text" name="username" placeholder="Tên tài khoản" style="width:300px">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" name="password" placeholder="Enter password" style="width:300px">
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me</label>
            </div>
            <input type="submit" class="btn btn-default" style="background-color: royalblue;margin:auto" value="Đăng nhập"/>
        </form>
    </div>

</body>

</html>
