<!DOCTYPE html>
<html>
<head>
<title>Đăng nhập</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/login.css" rel='stylesheet' type='text/css' media="all" /><!--stylesheet-->
</head>
<body>
<h1>Đăng nhập</h1>
<div class="form-w3ls">
	<div class="form-head-w3l">
		<h2>B</h2>
	</div>
    <div class="tab-content">
        <div id="signin-agile">
			<form action="login" method="post">

				<p class="header">Tên tài khoản</p>
				<input type="text" name="username" />

				<p class="header">Mật khẩu</p>
				<input type="password" name="password" />
				<input type="submit" class="sign-in" value="Đăng nhập">
			</form>
		</div>
		<div id="signup-agile">

		</div>
    </div><!-- tab-content -->
</div> <!-- /form -->
<p class="copyright"></p>

</body>
</html>
