<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Wing the Air</title>
<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
<!--[if lte IE 6]><style type="text/css" media="screen">.tabbed { height:420px; }</style><![endif]-->
<script src="js/jquery-1.4.1.min.js" type="text/javascript"></script>
<script src="js/jquery.jcarousel.pack.js" type="text/javascript"></script>
<script src="js/jquery.slide.js" type="text/javascript"></script>
<script src="js/jquery-func.js" type="text/javascript"></script>
</head>
<body>
<!-- Top -->
<div id="top">
  <div class="shell">
    <!-- Header -->
    <div id="header">
      <h1 id="logo"><a href="#">Urgan Gear</a></h1>
      <div id="navigation">
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">My Account</a></li>
          <li><a href="#">The Store</a></li>
          <li class="last"><a href="#">Contact</a></li>
        </ul>
      </div>
    </div>
    <!-- End Header -->
    <!-- Slider -->
    <div id="slider">
      <div id="slider-holder">
        <ul>
          <li><a href="#"><img src="css/images/slide1.jpg" alt="" /></a></li>
          <li><a href="#"><img src="css/images/slide2.jpg" alt="" /></a></li>
          <li><a href="#"><img src="css/images/slide3.jpg" alt="" /></a></li>
          <li><a href="#"><img src="css/images/slide4.jpg" alt="" /></a></li>
        </ul>
      </div>
      <div id="slider-nav"> <a href="#" class="prev">Previous</a> <a href="#" class="next">Next</a> </div>
    </div>
    <!-- End Slider -->
  </div>
</div>
<!-- Top -->
<!-- Main -->
<div id="main">
  <div class="shell">
    <!-- Search, etc -->
    <div class="options">
      <div class="search">
        <form action="#" method="post">
          <span class="field">
          <input type="text" class="blink" value="SEARCH" title="SEARCH" />
          </span>
          <input type="text" class="search-submit" value="GO" />
        </form>
      </div>
      <span class="left"><a href="#">Advanced Search</a></span>
      <div class="right"> <span class="cart"> <a href="#" class="cart-ico">&nbsp;</a> <strong>$0.00</strong> </span> <span class="left more-links"> <a href="#">Checkout</a> <a href="#">Details</a> </span> </div>
    </div>
    <!-- End Search, etc -->
    <!-- Content -->
    <div id="content">
      <!-- Tabs -->
      <div id="tabs">
        <ul>
          <li style="margin-left:0px;"><a href="trangchu">Trang chủ</a></li>
          <li><a href="page-1">Danh sách sản phẩm</a></li>
          <li><a href="">Thể loại</a>
            <ul class="typebook">
              <li style="margin-left:0px;"><a href="theloai-truyenngan">Truyện ngắn</a></li>
              <li style="margin-left:0px;"><a href="theloai-truyentranh">Truyện tranh</a></li>
              <li style="margin-left:0px;"><a href="theloai-giaoduc">Giáo dục</a></li>
              <li style="margin-left:0px;"><a href="theloai-kinangsong">Kĩ năng sống</a></li>
              <li style="margin-left:0px;"><a href="theloai-kinhte">Kinh tế</a></li>
              <li style="margin-left:0px;"><a href="theloai-tamly">Tâm lý</a></li>
              <li style="margin-left:0px;"><a href="theloai-giaokhoa">Sách giáo khoa</a></li>
              <li style="margin-left:0px;"><a href="theloai-vanhoc">Văn học</a></li>
              <li style="margin-left:0px;"><a href="theloai-ngoaingu">Ngoại ngữ</a></li>
              <li style="margin-left:0px;"><a href="theloai-cotich">Truyện cổ tích</a></li>
            </ul>
          </li>
        </ul>
      </div>
      <!-- Tabs -->

      <!-- Container -->
      <div id="container">
        <div class="tabbed">
          <!-- First Tab Content -->
          <div class="items">
            <div class="cl">&nbsp;</div>
            <ul>
              <li id ="s1">
                <div class="image"> <a href="#" id="link1"><img id = "hs1" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts1"></span><br />
                  <span id = "ls1"></span><br /></p>
                <p class="price"><strong id = "gs1"></strong></p>
              </li>
              <li id ="s2">
                <div class="image"> <a href="#" id="link2"><img id = "hs2" src="" width="100%" height="100%"/></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts2"></span><br />
                  <span id = "ls2"></span><br /></p>
                <p class="price"><strong id = "gs2"></strong></p>
              </li>
              <li id ="s3">
                <div class="image"> <a href="#" id="link3"><img id = "hs3" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts3"></span><br />
                  <span id = "ls3"></span><br /></p>
                <p class="price"><strong id = "gs3"></strong></p>
              </li>
              <li id ="s4">
                <div class="image"> <a href="#" id="link4"><img id = "hs4" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts4"></span><br />
                  <span id = "ls4"></span><br /></p>
                <p class="price"><strong id = "gs4"></strong></p>
              </li>
              <li id ="s5">
                <div class="image"> <a href="#" id="link5"><img id = "hs5" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts5"></span><br />
                  <span id = "ls5"></span><br /></p>
                <p class="price"><strong id = "gs5"></strong></p>
              </li>
              <li id ="s6">
                <div class="image"> <a href="#" id="link6"><img id = "hs6" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts6"></span><br />
                  <span id = "ls6"></span><br /></p>
                <p class="price"><strong id = "gs6"></strong></p>
              </li>
              <li id ="s7">
                <div class="image"> <a href="#" id="link7"><img id = "hs7" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts7"></span><br />
                  <span id = "ls7"></span><br /></p>
                <p class="price"><strong id = "gs7"></strong></p>
              </li>
              <li id ="s8">
                <div class="image"> <a href="#" id="link8"><img id = "hs8" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts8"></span><br />
                  <span id = "ls8"></span><br /></p>
                <p class="price"><strong id = "gs8"></strong></p>
              </li>
              <li id ="s9">
                <div class="image"> <a href="#" id="link9"><img id = "hs9" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts9"></span><br />
                  <span id = "ls9"></span><br /></p>
                <p class="price"><strong id = "gs9"></strong></p>
              </li>
              <li id ="s10">
                <div class="image"> <a href="#" id="link10"><img id = "hs10" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts10"></span><br />
                  <span id = "ls10"></span><br /></p>
                <p class="price"><strong id = "gs10"></strong></p>
              </li>
              <li id ="s11">
                <div class="image"> <a href="#" id="link11"><img id = "hs11" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts11"></span><br />
                  <span id = "ls11"></span><br /></p>
                <p class="price"><strong id = "gs11"></strong></p>
              </li>
              <li id ="s12">
                <div class="image"> <a href="#" id="link12"><img id = "hs12" src="" width="100%" height="100%" /></a> </div>
                <p style ="width: 200px; height: 50px;"> <span id = "ts12"></span><br />
                  <span id = "ls12"></span><br /></p>
                <p class="price"><strong id = "gs12"></strong></p>
              </li>
            </ul>
            <div class="cl">&nbsp;</div>
          </div>
          <!-- End First Tab Content -->
        </div>
        <!-- Brands
        <div class="brands">
          <h3>Brands</h3>
          <div class="logos"> <a href="#"><img src="css/images/logo1.gif" alt="" /></a> <a href="#"><img src="css/images/logo2.gif" alt="" /></a> <a href="#"><img src="css/images/logo3.gif" alt="" /></a> <a href="#"><img src="css/images/logo4.gif" alt="" /></a> <a href="#"><img src="css/images/logo5.gif" alt="" /></a> </div>
        </div>
         -->
        <!-- Footer -->
        <div style="margin:auto; width:10%; padding: 10px; font-size:15px;">
          <a href="page-1"><span id="prevend"><< </span></a>
          <a id="pr" href="#"><span id="prev">< </span></a>
          <span id="page"></span>
          <a id="nx" href="#"><span id="next"> ></span></a>
          <a id="nxd"href="#"><span id="nextend"> >></span></a>
        </div>
        <div id="footer">
          <div class="left"> <a href="#">Home</a> <span>|</span> <a href="#">Support</a> <span>|</span> <a href="#">My Account</a> <span>|</span> <a href="#">The Store</a> <span>|</span> <a href="#">Contact</a> </div>
          <div class="right"> &copy; Nhom3catcon </div>
        </div>
        <!-- End Footer -->
      </div>
      <!-- End Container -->
    </div>
    <!-- End Content -->
  </div>
</div>
<script src="js/data.js" type="text/javascript"></script>
<script src="js/imagesdata.js" type="text/javascript"></script>
<!-- End Main -->
</body>
</html>
