<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Đăng ký</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="css/login.css" rel='stylesheet' type='text/css' media="all" /><!--stylesheet-->
</head>
<body>
<h1>Đăng ký</h1>
<div class="form-w3ls">
	<div class="form-head-w3l">
		<h2>s</h2>
	</div>
    <div class="tab-content">
        <div id="signin-agile">
					<form action="register" method="post">

						<p class="header">Tên tài khoản</p>
						<input type="text" name="username" placeholder="Your Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}" required="required">

						<p class="header">Họ và Tên</p>
						<input type="text" name="cusname" placeholder="Your Full Name" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Your Full Name';}" required="required">

						<p class="header">Dịa chỉ email</p>
						<input type="text" name="email" placeholder="Email" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Email';}" required="required">

						<p class="header">Mật khẩu</p>
						<input type="password" name="password" placeholder="Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Password';}" required="required">

						<p class="header">Nhập lại mật khẩu</p>
						<input type="password" name="password2" placeholder="Confirm Password" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Confirm Password';}" required="required">

						<input type="submit" class="sign-in" value="Đăng ký">
					</form>
		</div>
		<div id="signup-agile">

		</div>
    </div><!-- tab-content -->
</div> <!-- /form -->
<p class="copyright"></p>
</body>
</html>
