<html>

<head>
    <link rel="stylesheet" href="css/admin.css" type="text/css" media="all" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
    <div class="header" style="height: 60px; background-color: rgb(19, 140, 221);">
        <a style="color: black; font-size: 24px; width: 120px; height:60px; line-height: 60px; text-align: center;">Admintrator</a>
    </div>
    <div class="container">
        <div style="height:100px; width: 100%;"></div>
        <div style="width:250px; height: 500px; float:left;">
            <!--Tài khoản-->
            <a href="#">
                <div class="menu" style="margin-top:10px;" onclick="funtaikhoan()">
                    <div id="text">Tài khoản</div>
                </div>
            </a>
            <div id="taikhoan">
                <a href="themtaikhoan" target="blank">
                    <div class="tab"><span style="margin-left:20px; color:red;">Thêm tài khoản</span></div>
                </a>
                <a href="thongtincanhan">
                    <div class="tab"><span style="margin-left:20px;">Thông tin cá nhân</span></div>
                </a>
            </div>
            <!--Hệ thống sản phẩm-->
            <a href="#">
                <div class="menu" style="margin-top:10px" onclick="funhethong()">
                    <div id="text">Hệ thống </div>
                </div>
            </a>
            <div id="hethong" style="display:none;">
                <a href="hethongsp">
                    <div class="tab"><span style="margin-left:20px;">Hệ thống sản phẩm</span></div>
                </a>
                <a href="kiemtrasp">
                    <div class="tab"><span style="margin-left:20px;">Kiểm tra sản phẩm</span></div>
                </a>
                <a href="hethongsp">
                    <div class="tab"><span style="margin-left:20px;">Thống kê đơn hàng</span></div>
                </a>
                <a href="kiemtrasp">
                    <div class="tab"><span style="margin-left:20px;">Thống kê doanh số</span></div>
                </a>
                <a href="kiemtrasp">
                    <div class="tab"><span style="margin-left:20px;">Thống kê top10</span></div>
                </a>
            </div>

            <!--sản phẩm-->
            <a href="#">
                <div class="menu" style="margin-top:10px" onclick="funsach()">
                    <div id="text">Sản phẩm</div>
                </div>
            </a>
            <div id="sach" style="display:none;">
                <a href="themsach">
                    <div class="tab"><span style="margin-left:20px;">Thêm sách</span></div>
                </a>
                <a href="xoasach">
                    <div class="tab"><span style="margin-left:20px;">Xoá sách</span></div>
                </a>
                <a href="suasach">
                    <div class="tab"><span style="margin-left:20px;">Sửa thông tin sách</span></div>
                </a>
            </div>
            <a href="#">
                <div class="menu" style="margin-top:10px;" onclick="funanhsach()">
                    <div id="text">Ảnh Sách</div>
                </div>
            </a>
            <div id="anhsach" style="display:none;">
                <a href="themanh">
                    <div class="tab"><span style="margin-left:20px;">Thêm ảnh</span></div>
                </a>
                <a href="xoaanh">
                    <div class="tab"><span style="margin-left:20px;">Xoá ảnh</span></div>
                </a>
            </div>
        </div>
        <form style=" height: 400px; margin-left:140px; float:left; border: 1px solid gray; padding:30px">
            <h2 style="color:royalblue; text-align: center;">Admin register</h2>
            <div class="form-group">
                <label for="email">Tên đăng nhập:</label>
                <input type="text" class="form-control" id="admin" placeholder="Enter name" style="width:300px">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Enter password" style="width:300px">
            </div>

            <button type="submit" class="btn btn-default" style="background-color: royalblue;margin:auto">Submit</button>
        </form>
    </div>

    <script>
        var i = 1;

        function funsach() {
            if (i == 1) {
                document.getElementById('sach').style.display = "block";
                i = 0;
            } else {
                document.getElementById('sach').style.display = "none";
                i = 1;
            }

        }
        var j = 1;

        function funanhsach() {
            if (j == 1) {
                document.getElementById('anhsach').style.display = "block";
                j = 0;
            } else {
                document.getElementById('anhsach').style.display = "none";
                j = 1;
            }

        }

        var k = 1;

        function funtaikhoan() {
            if (k == 1) {
                document.getElementById('taikhoan').style.display = "block";
                k = 0;
            } else {
                document.getElementById('taikhoanh').style.display = "none";
                k = 1;
            }

        }

        var l = 1;

        function funhethong() {
            if (l == 1) {
                document.getElementById('hethong').style.display = "block";
                l = 0;
            } else {
                document.getElementById('hethong').style.display = "none";
                l = 1;
            }

        }
    </script>
</body>

</html>
